# Ignore everything
**/*.*
/!build/*
/!install/*

# But not these files...
# 0. Basic repo files
!/[Readme|README|readme]*
!/License*
!/.git*

# 1. Include common files
!/.github/workflows/*.yml
!/~scripts/*.cmake

# 2. Project files
!/Main/**/*.c
!/Main/**/*.h
!/Main/**/*.hpp
!/Main/**/*.cpp
!/Main/**/*.ixx
!/Main/**/*.cppm
!/Main/CMakeLists.txt

# 2. Project related files
!/examples/**/*.py
!/examples/**/*.json

!/~vendor/include/*[.h, .hh, .inl, .hpp, .hxx, .ixx]
!/~vendor/vcpkg.json
!/CMake*.*
!/.clang*
